body {
display: grid;
background-image:url("https://i.ebayimg.com/images/g/VAEAAOSwLJ9Z5psJ/s-l400.jpg");
background-size: cover;
font-family: 'Permanent Marker', cursive;
color: white;
}
.game {
color: white;
left: 0;
position: absolute;
text-align: center;
top: 35%;
width: 100%;
font-size: 400%;
font-family: 'Permanent Marker', cursive;
}
.home-text {
  color: white;
left: 0;
position: absolute;
text-align: center;
top: 55%;
font-size: 120%;
width: 100%;
text-decoration: none;
font-family: 'Permanent Marker', cursive;
}
a {
color: white;
left: 0;
position: absolute;
text-align: center;
top: 60%;
width: 100%;
font-size: 150%;
text-decoration: none;
font-family: 'Permanent Marker', cursive;
}
h1 {
  text-align: center;
  display: grid;
}
.home-text {
  color: yellow; 
}
.winner {
  display: flex;
  justify-content: flex-end;
  }
.player-winner {
display: flex;
justify-content: flex-end;
}
.player-wins {
  display: flex;
  justify-content: flex-end;
  }
.opponent-wins{
display: flex;
justify-content: flex-end;
}
.draws-wins {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.opp {
display: inline;
position: relative;
top: 90px;
width: 100px;
}
.player {
display: inline;
position: relative;
margin-top: 150px;
}
.line1 {
  border-bottom: solid;
  display: grid;
  position: relative;
  margin-top: 110px;
}
.line2 {
  border-bottom: solid;
}
.button {
  text-decoration: none;
}